<footer class="footer bg-dark text-light p-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-2">
                <p>Michael Rayson</p>
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="row">
                    <div class="col-sm-1">
                        <p class="mb-0">Cell: </p>
                    </div>
                    <div class="col-sm-11">
                        <p class="mb-0">613-979-5914</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1">
                        <p class="mb-0">Email: </p>
                    </div>
                    <div class="col-sm-11">
                        <a href="mailto:mrayson5129@gmail.com" class="mt-0">mrayson5129@gmail.com</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-2">

            </div>
        </div>
    </div>
</footer>
