<div class="opener d-flex">
  <div class="container-fluid align-self-center">
    <h1 class="display-1 text-center">Michael Rayson</h1>
    <h2 class="display-3 text-center text-muted">Computer Programming Graduate</h2>
    <div class="d-flex justify-content-center my-3">
      <a href="https://github.com/mRayson-git"><svg class="bi mx-3" width="64" height="64" fill="currentColor">
          <use xlink:href="assets/bootstrap-icons.svg#github" />
        </svg></a>
      <a href="https://www.linkedin.com/in/michael-rayson-y1999/"><svg class="bi mx-3" width="64" height="64"
          fill="currentColor">
          <use xlink:href="assets/bootstrap-icons.svg#linkedin" />
        </svg></a>
      <a href="mailto:mrayson5129@gmail.com"><svg class="bi mx-3" width="64" height="64" fill="currentColor">
          <use xlink:href="assets/bootstrap-icons.svg#envelope-fill" />
        </svg></a>
    </div>
  </div>
</div>
<section class="d-flex content" id="about">
  <div class="container align-self-center" id="about-content">
    <h1 class="display-3 text-primary text-center">About Me</h1>
    <div class="row justify-content-center">
        <div class="col-4">
            <img src="assets/homepage/profilepic.jpg" alt="Profile picture" class="img-fluid shadow rounded-circle mb-3">
        </div>
    </div>
    <p>I am a computer programming graduate from Algonquin College. I work as an Information Technology Analyst at the CRA focusing primarily on
        cloud application development. Most of my professional experience has been spent with Python, JavaScript (Angular Framework) and Java with some DevOps
        experience working with RedHat's Openshift.
    </p>
    <p>My personal interests lay with camping and white water canoeing. When the weather is bad I get a good sense of fulfillment working on coding projects
      almost all with the intention of improving my understanding of web application development.
    </p>
    <p>I can be contacted at <span class="text-primary"><a href="mailto:mrayson5129@gmail.com">mrayson5129@gmail.com</a></span></p>
  </div>
</section>
<section class="d-flex content" id="education">
  <div class="container align-self-center" id="about-content">
    <h1 class="display-3 text-primary text-center">Education</h1>
    <h2 class="h1">Algonquin College</h2>
    <h3 class="text-muted">Computer Programming, September 2019 - 2021</h3>
    <p>Heavy focus on object oriented practices, mostly with the Java programming language. Alongside my studies
      I worked on various side projects that helped me expand on the concepts taught in class.
    </p>
    <p>In conjunction with the programming there were multiple courses on database design and management, in
      which I was able to gain experience with:</p>
    <ul>
      <li>SQL</li>
      <ul>
        <li>PostgreSql</li>
        <li>MS Access</li>
        <li>Microsoft SQL Server</li>
        <li>Oracle DB</li>
      </ul>
      <li>NoSQL</li>
      <ul>
        <li>MongoDB</li>
      </ul>
      <li>Graph</li>
      <ul>
        <li>Neo4j</li>
      </ul>
    </ul>
    <p>On top of all of this I was able to take advantage of a course on web development which has opened a
      world of possibilities for me. In this course I learned the relationship between HTML, PHP, JavaScript,
      and databases which when combined create the LAMP stack.
    </p>
  </div>
</section>
<section class="d-flex content" id="work">
  <div class="container align-self-center" id="about-content">
    <h1 class="display-3 text-primary text-center">Work History</h1>
    <h2 class="h1">Canada Revenue Agency</h2>
    <h3 class="text-muted">Information Technology Developer, September 2020 - Present</h3>
    <p>I started off as a coop student with the CRA back in 2020 and found my place within a team focusing on web application development.
      I got the opportunity to work with JavaScript frameworks for both the front and backend services, leveraging a NoSQL database to store the user data.
    </p>
    <p>The technologies I made use of were:</p>
    <ul>
      <li>JavaScript + TypeScript</li>
      <li>Angular</li>
      <li>SASS + Bootstrap</li>
      <li>NodeJS + ExpressJS</li>
      <li>MongoDB</li>
      <li>Docker</li>
    </ul>
    <p> After some organisational shifts our team was tasked with understanding and implementing machine learning algorithms on a cloud platform (Openshift).
      This was a significant change from my comfort zone but showed me an appreciation for the Python programming language and its packages. We ended up working on 
      some multi-class classification issues as well as regular linear regression problems.
    </p>
    <p>The tools we used were:</p>
    <ul>
      <li>Python v3.9+</li>
      <li>MatPlotLib</li>
      <li>Scikit-Learn</li>
      <li>Azure Databricks</li>
      <li>Azure Machine Learning Studio</li>
      <li>Azure Machine Learning Notebooks</li>
    </ul>
    <p>Most recently I've gone back to full stack development, though this time with the goal of deploying to an Openshift cluster. This gave me the opportunity to
      make use of:
    </p>
    <ul>
      <li>Red Hat's CodeReady Workspaces</li>
      <li>Java (backend Quarkus services)</li>
      <li>Angular (frontend client)</li>
      <li>PostgreSQL</li>
    </ul>
  </div>
</section>
<section class="d-flex content" id="projects">
  <div class="container align-self-center" id="about-content">
    <h1 class="display-3 text-primary text-center">Projects</h1>
    <div class="p-3 bg-light rounded">
      <h1>think<span class="text-success">budget</span></h1>
      <h3 class="text-muted">Full-stack budgeting application</h3>
    </div>
    <p>
      This is my most recent project and is still currently under devlopment. At the moment it is a functional
      budgeting web application
      which uses NodeJS for the backend, and Angular for the front. All the data is stored on a MongoDB server
      locally.
    </p>
    <p>
      I've had a lot of fun working on this project as I've been able to finally incorperate all the different
      technologies I've been learning
      into a much more refined application than previously. Bootstrap made designing the UI a breeze and the
      Angular CLI helped me generate all
      the components I could need.
    </p>
    <div class="row">
      <div class="col-sm-12 col-md-6 mt-3">
        <img src="assets/homepage/thinkBudget/homepage.png" alt="thinkbudget homepage" class="img-fluid shadow">
      </div>
      <div class="col-sm-12 col-md-6 mt-3">
        <img src="assets/homepage/thinkBudget/budgetCreator.png" alt="thinkbudget budget creation menu" class="img-fluid shadow">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 mt-3">
        <img src="assets/homepage/thinkBudget/transactionOverview.png" alt="thinkbudget transaction overview page" class="img-fluid shadow">
      </div>
      <div class="col-sm-12 col-md-6 mt-3">
        <img src="assets/homepage/thinkBudget/dashboard.png" alt="thinkbudget dashboard page" class="img-fluid shadow">
      </div>
    </div>
  </div>
</section>
<section class="d-flex content" id="skills">
  <div class="container align-self-center" id="about-content">
    <h1 class="display-3 text-primary text-center">Skills</h1>
    <p>My strengths definitely reside in web development as that's what initially pulled me into the world of programming. It remains my passion to this day, though
      I've expanded to other areas like machine learning. The areas in which I feel proficient are:
    </p>
    <ul>
      <li>JavaScript</li>
      <ul>
        <li>Angular</li>
        <li>React/React-Native</li>
        <li>Node.js</li>
      </ul>
      <li>Python</li>
      <li>Java</li>
    </ul>
    <p>As can be seen from a quick glance at my GitHub repository, JavaScript is by far my most comfortable programming language. Going forward I aim to balance that out more as I 
      continue to challange myself into leveraging the strengths of other languages.
    </p>
  </div>
</section>
<section class="d-flex content" id="languages">
  <div class="container align-self-center" id="about-content">
    <h1 class="display-3 text-primary text-center">Languages</h1>
    <p class="text-center">English is my native language - proficient in speaking and writing.</p>
    <p class="text-center">French is my second language - proficient in speaking, intermediate in writing.</p>
  </div>
</section>
