<div class="opener d-flex">
  <div class="container-fluid align-self-center">
    <h1 class="display-1 text-center">Michael Rayson</h1>
    <h2 class="display-3 text-center text-muted">Full-Stack Developer</h2>
    <div class="d-flex justify-content-center my-3">
      <a href="https://github.com/mRayson-git"><svg class="bi mx-3" width="64" height="64" fill="currentColor">
          <use xlink:href="assets/bootstrap-icons.svg#github" />
        </svg></a>
      <a href="https://www.linkedin.com/in/michael-rayson-y1999/"><svg class="bi mx-3" width="64" height="64"
          fill="currentColor">
          <use xlink:href="assets/bootstrap-icons.svg#linkedin" />
        </svg></a>
      <a href="mailto:mrayson5129@gmail.com"><svg class="bi mx-3" width="64" height="64" fill="currentColor">
          <use xlink:href="assets/bootstrap-icons.svg#envelope-fill" />
        </svg></a>
    </div>
  </div>
</div>
<section class="d-flex content" id="about">
  <div class="container align-self-center" id="about-content">
    <h1 class="display-3 text-primary text-center">About Me</h1>
    <div class="row justify-content-center">
      <div class="col-4">
        <img src="assets/homepage/profilepic.jpg" alt="Profile picture" class="img-fluid shadow rounded-circle mb-3">
      </div>
    </div>
    <p>
      I am a full-stack web application developer with the CRA. My professional experience so far has been primarily
      with Java, Typescript (Angular),
      and Python with some DevOps experience working with container orchastration using RedHat's Openshift.
    </p>
    <p>My personal interests lay with camping and white water canoeing. When the weather is bad I enjoy spending my time
      polishing up on my
      programming abilities with various personal projects, as well as managing my own homelab server where I self host
      some helpful services.
    </p>
    <p>I can be contacted at <span class="text-primary"><a
          href="mailto:mrayson5129@gmail.com">mrayson5129@gmail.com</a></span></p>
  </div>
</section>
<section class="d-flex content" id="work">
  <div class="container align-self-center" id="about-content">
    <h1 class="display-3 text-primary text-center">Work History</h1>
    <h2 class="h1">Canada Revenue Agency</h2>

    <h3 class="text-muted">IT Developer (CS-02), November 2021 - Present</h3>
    <p>I've currently got 2 main tasks on the go:</p>
    <ul>
      <li>Conversion of a large scale Java Swing application over to Angular v15</li>
      <li>Leading the push for Angular training for the various sections with my directorate</li>
    </ul>
    <p>
      Overall these tasks have been immensly fulfilling, and have been a great foray into an actual production
      environment. Before this point all my
      work had been just on proof-of-concept applications which, while interesting, do not have the same environment as
      an application that is
      actively being published to production. Through my work on this I've been able to use:
    </p>
    <ul>
      <li>JavaEE (EJBs compose the backend)</li>
      <li>Angular (frontend client)</li>
      <li>Oracle DB</li>
    </ul>

    <h3 class="text-muted">IT Developer (CS-01), May 2021 - November 2021</h3>
    <p>During this time I was able to get involved in a mix of application development and cloud DevOps infrastructure.
      We would have weekly
      touch points with a RedHat engineer who would give us run downs on the Openshift platform and how we could best
      make use of
      Red Hat's CodeReady Workspaces.
    </p>
    <p>It was especially interesting spinning up the containers within Openshift and seeing our CI/CD pipeline come to
      life. Overall
      the technologies I worked with were:
    </p>
    <ul>
      <li>Red Hat's CodeReady Workspaces</li>
      <li>Java (backend Quarkus services)</li>
      <li>Angular (frontend client)</li>
      <li>PostgreSQL</li>
    </ul>

    <h3 class="text-muted">IT Developer (COOP), September 2020 - May 2021</h3>
    <p>I started off as a coop student with the CRA back in 2020 and found my place within a team focusing on web
      application development.
      I got the opportunity to work with JavaScript frameworks for both the front and backend services, leveraging a
      NoSQL database to store the user data.
    </p>
    <p>The technologies I made use of were:</p>
    <ul>
      <li>JavaScript + TypeScript</li>
      <li>Angular</li>
      <li>SASS + Bootstrap</li>
      <li>NodeJS + ExpressJS</li>
      <li>MongoDB</li>
      <li>Docker</li>
    </ul>
    <p> After some organisational shifts our team was tasked with understanding and implementing machine learning
      algorithms on a cloud platform (Openshift).
      This was a significant change from my comfort zone but showed me an appreciation for the Python programming
      language and its packages. We ended up working on
      some multi-class classification issues as well as regular linear regression problems.
    </p>
    <p>The tools we used were:</p>
    <ul>
      <li>Python v3.9+</li>
      <li>MatPlotLib</li>
      <li>Scikit-Learn</li>
      <li>Azure Databricks</li>
      <li>Azure Machine Learning Studio</li>
      <li>Azure Machine Learning Notebooks</li>
    </ul>


  </div>
</section>
<section class="d-flex content" id="education">
  <div class="container align-self-center" id="about-content">
    <h1 class="display-3 text-primary text-center">Education</h1>
    <h2 class="h1">Algonquin College</h2>
    <h3 class="text-muted">Computer Programming, September 2019 - 2021</h3>
    <p>Heavy focus on object oriented practices, mostly with the Java programming language. Alongside my studies
      I worked on various side projects that helped me expand on the concepts taught in class.
    </p>
    <p>In conjunction with the programming there were multiple courses on database design and management, in
      which I was able to gain experience with:</p>
    <ul>
      <li>SQL</li>
      <ul>
        <li>PostgreSql</li>
        <li>MS Access</li>
        <li>Microsoft SQL Server</li>
        <li>Oracle DB</li>
      </ul>
      <li>NoSQL</li>
      <ul>
        <li>MongoDB</li>
      </ul>
      <li>Graph</li>
      <ul>
        <li>Neo4j</li>
      </ul>
    </ul>
    <p>On top of all of this I was able to take advantage of a course on web development which has opened a
      world of possibilities for me. In this course I learned the relationship between HTML, PHP, JavaScript,
      and databases which when combined create the LAMP stack.
    </p>
  </div>
</section>

<section class="content">
  <h1 class="display-3 text-primary text-center">Projects</h1>
  <div #description class="description">
    <div class="p-3 bg-light rounded">
      <h1>think<span class="text-success">budget</span> v2</h1>
      <h3 class="text-muted">Progressive Web Application</h3>
    </div>
    <p>This project has been an ongoing adventure for me since my initial interest in programming began. It's been
      through various iterations but has always seeked to solve a specific problem, budgeting.</p>
    <p>Initially I had created a python script that would import CSVs and parse the transactions into categories so
      that
      I could better track my spending. From there I learned about PHP and Javascript at school and therefore the
      application morphed to make use of the web. From there I started picking up Angular as it was a requirement for
      a
      job I was pursuing and this framework has held my attention since then. The current iteration of this
      application
      is focused on a new area of web app development for me, Progressive Web Applications.</p>

    <p>As a progressive web application, the target device is mobile though I've been tweaking it to make it take
      advantage of larger screens as well.</p>
  </div>
  <div class="live-app">
    <p><strong>Here is a <span class="text-success">live demo</span> of the most recent verion of the app,
        resize it by dragging from the bottom right
        corner:</strong></p>
    <div class="resizable">
      <iframe src="https://thinkcomputing-budgetpwa.web.app/" width="100%" height="100%"></iframe>
    </div>
  </div>

  <div class="mt-3 p-3 bg-light rounded">
    <h1>think<span class="text-success">budget</span> v1</h1>
    <h3 class="text-muted">Full-stack budgeting application</h3>
  </div>
  <p>
    This is an older version of the <span class="text-success">thinkbudget</span> application and is no longer in
    development. At the moment it is a functional
    budgeting web application
    which uses NodeJS for the backend, and Angular for the front. All the data is stored on a MongoDB server
    locally.
  </p>
  <p>
    I've had a lot of fun working on this project as I've been able to finally incorperate all the different
    technologies I've been learning
    into a much more refined application than previously. Bootstrap made designing the UI a breeze and the
    Angular CLI helped me generate all
    the components I could need.
  </p>
  <div class="row">
    <div class="col-sm-12 col-md-6 mt-3">
      <img src="assets/homepage/thinkBudget/homepage.png" alt="thinkbudget homepage" class="img-fluid shadow">
    </div>
    <div class="col-sm-12 col-md-6 mt-3">
      <img src="assets/homepage/thinkBudget/budgetCreator.png" alt="thinkbudget budget creation menu"
        class="img-fluid shadow">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 mt-3">
      <img src="assets/homepage/thinkBudget/transactionOverview.png" alt="thinkbudget transaction overview page"
        class="img-fluid shadow">
    </div>
    <div class="col-sm-12 col-md-6 mt-3">
      <img src="assets/homepage/thinkBudget/dashboard.png" alt="thinkbudget dashboard page" class="img-fluid shadow">
    </div>
  </div>
</section>
<section class="d-flex content" id="skills">
  <div class="container align-self-center" id="about-content">
    <h1 class="display-3 text-primary text-center">Skills</h1>
    <p>My strengths definitely reside in web development as that's what initially pulled me into the world of
      programming. It remains my passion to this day, though
      I've expanded to other areas like machine learning and data analysis. The areas in which I feel proficient are:
    </p>
    <ul>
      <li>JavaScript / TypeScript</li>
      <ul>
        <li>Angular</li>
        <li>React/React-Native</li>
        <li>Node.js</li>
      </ul>
      <li>Java</li>
      <li>Python</li>
    </ul>
    <p>As can be seen from a quick glance at my GitHub repository, JavaScript is by far my most comfortable programming
      language. Going forward I aim to balance that out more as I
      continue to challange myself into leveraging the strengths of other languages.
    </p>
  </div>
</section>
<section class="d-flex content" id="languages">
  <div class="container align-self-center" id="about-content">
    <h1 class="display-3 text-primary text-center">Languages</h1>
    <p class="text-center">English is my native language - proficient in speaking and writing.</p>
    <p class="text-center">French is my second language - proficient in speaking, intermediate in writing.</p>
  </div>
</section>