<h1 class="display-5 text-primary">Michael Rayson</h1>
<div>
    <p class="mb-0">Cell: 613-979-5914</p>
    <p class="my-0">Email: <a href="mailto:mrayson5129@gmail.com">mrayson5129@gmail.com</a></p>
    <p class="mt-0 mb-5"><a href="https://github.com/mRayson-git">GitHub</a> | 
        <a href="https://www.linkedin.com/in/michael-rayson-y1999/">Linkedin</a> | 
        <a routerLink="/">Online Portfolio</a>
    </p>
</div>
<section id="about" class="mt-3 mb-5">
    <h2 class="display-5 text-primary">Summary</h2>
    <hr>
    <p>Dedicated programmer eager to expand my knowledge particularly in web development
        fields. My passion lies with JavaScript frameworks like Angular and React, though
        building robust services with Python and Java is fulfilling as well.
    </p>
</section>
<section id="education" class="mt-3 mb-5">
    <h2 class="display-5 text-primary">Education</h2>
    <hr>
    <div class="d-flex justify-content-between">
        <h3><a href="https://www.algonquincollege.com/sat/program/computer-programming/">Computer Programming</a></h3>
        <h4>2019-2021</h4>
    </div>
    <p>Algonquin College</p>
    <ul>
        <li>Graduated with a GPA of 3.81</li>
        <li>Covered subjects relating to:</li>
        <ul>
            <li>Object Oriented Programming (Java)</li>
            <li>Database Technologies (NoSQL, SQL, Graph)</li>
            <li>Business Programming (COBOL)</li>
            <li>Mobile Graphical Interfaces (Java/Kotlin)</li>
            <li>Web Programming (HTML, CSS, PHP, JavaScript)</li>
            <li>Informal and Technical Report Writing</li>
        </ul>
    </ul>
    <div class="d-flex justify-content-between">
        <h3><a href="https://catalogue.uottawa.ca/en/undergrad/honours-bsc-computer-science-data-science-option/">Bsc with Honours in Computer Science - Data Science Option</a></h3>
        <h4>2017-2019</h4>
    </div>
    <p>University of Ottawa</p>
    <ul>
        <li>Covered subjects relating to:</li>
        <ul>
            <li>Introduction to Computing (Python)</li>
            <li>Calculus 1 & 2</li>
            <li>Discrete Math for Computing</li>
            <li>Digital Systems</li>
            <li>Data Structures and Algorithms</li>
            <li>Programming Paradigms</li>
        </ul>
    </ul>
</section>
<section id="work" class="mt-3 mb-5">
    <h2 class="display-5 text-primary">Work Experience</h2>
    <hr>
    <div class="d-flex justify-content-between">
        <h3>IT Analyst, Canada Revenue Agency</h3>
        <h4>September 2020-Present</h4>
    </div>
    <p class="text-muted mt-0">Ottawa, Ontario</p>
    <ul>
        <li>Started off working on Angular & Node.js development of a full stack application</li>
        <ul>
            <li>Got to work with Angular routing and observables for making asynchronous
                requests to a backend RESTful server
            </li>
        </ul>
        <li>Worked on implementing various machine learning algorithms for solving regression 
            and multi-class classification problems
        </li>
        <ul>
            <li>Used Azure Databricks, Microsoft ML Studio and Azure Notebooks</li>
            <li>Implemented solutions using Python (scikit-learn, pandas, numpy)</li>
        </ul>
        <li>Currently working on another full stack application this time with Angular as the frontend
            and multiple Java Quarkus applications as the backend
        </li>
        <ul>
            <li>Implement a RESTful backend</li>
            <li>Utilized the Java Messaging Service for communication between backend services</li>
        </ul>
    </ul>
    <div class="d-flex justify-content-between">
        <h3>Customer Service Clerk, Your Independent Grocer</h3>
        <h4>October 2017-May 2020</h4>
    </div>
    <p class="text-muted mt-0">Embrun, Ontario</p>
    <ul>
        <li>Worked with upper management to ensure that customers would get quality
            service and solutions to their issues
        </li>
        <li>Maintained a collected stature while dealing with stressful situations</li>
        <li>Communicated with coworkers to ensure that the frontend of the store ran
            efficiently
        </li>
    </ul>
</section>
<section id="Projects" class="mt-3 mb-5">
    <h2 class="display-5 text-primary">Projects</h2>
    <hr>
    <h3><a href="https://github.com/mRayson-git/WorkSafetyApp">Workplace Safety Application</a></h3>
    <p>This was a capstone project at the end of my program at Algonquin. Working along with some
        contacts within the Tomlinson Group I lead a team in creating a full stack application that
        would connect construction workers with WHMIS safety data sheet information.
    </p>
    <p>The technologies used were:</p>
    <ul>
        <li>Node.js backend</li>
        <ul>
            <li>Web scraping using the npm package Puppeteer to collect the SDS information from various sites</li>
            <li>REST layout for the frontent (React Native) application to query</li>
        </ul>
        <li>React Native frontend</li>
        <ul>
            <li>Implemented a user system using Google Firebase Authentication</li>
            <li>Images of the frontend can be found as part of Algonquin's Re/Action 
                showcase, <a href="https://www.algonquincollege.com/arie/2021/08/work-safety-application/">here</a>
            </li>
        </ul>
    </ul>
    <h3><a href="https://github.com/mRayson-git/TBTransactionManager-Client/tree/develop">thinkBudget</a></h3>
    <p>This has been a personal project that I've been creating different iterations of as I learn new programming languages.
        It is a budgeting web application that allows you to imprt your transactions from the CSV files you pull from your financial
        institutions. The most recent iteration has allowed me to explore the following areas:
    </p>
    <ul>
        <li>Angular development</li>
        <ul>
            <li>Making use of custom validators</li>
            <li>Bootstrap 5.0+</li>
            <li>Observables</li>
            <li>Routing</li>
            <li>User authentication using JWT</li>
        </ul>
        <li>Node.js development</li>
        <ul>
            <li>Creating a RESTful web service</li>
            <li>Managing sessions</li>
            <li>JWT for user authentication</li>
        </ul>
    </ul>
</section>
<section id="references" class="mt-3 mb-5">
    <h2 class="display-5 text-primary">References</h2>
    <hr>
    <p>Out of respect for my references, they will only be available at request. You can reach me at my email: <a href="mailto:mrayson5129@gmail.com">mrayson5129@gmail.com</a>.</p>
</section>